body{
    padding:0%;
    margin: 0%;
}

.Container{
    background-color: greenyellow;
    padding:5px;
    border: 5px solid black;
    margin: 10px;
}

.Content{
    background-color: rgb(47, 248, 255);
    padding:5px;
    border: 5px solid rgb(216, 23, 23);

}